/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}


@-webkit-keyframes wobble {
  0% {
    transform: none;
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    transform: none;
  }
}






body{
    background-image:url(dance.gif);
}

div {
  transition: 1s ease;}

#robot{
	position:absolute;
	top:50px;
	left:50px;
	-webkit-animation:wobble 6s linear infinite;
}

.face{
  width:200px;
  height:150px;
  border-radius:15px;
  background-color:white;
  position:absolute;
  left:500px;
  top:100px;
  -webkit-animation:wobble 4s linear infinite;
  
}

.nose{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid orange;
	position:absolute;
	left:45%;
	top:40%;
	z-index:100;
} 

.eye1{
    height:20px;
    width:40px;
    border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40x 0 0;
    background:black;
	transform:;
	-ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
	transform: rotate(-135deg);
	position:absolute;
	left:15%;
	top:20%;
	
	
} 

.eye2{
    height:20px;
    width:40px;
    border-radius: 4040px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    background:black;
	-ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
	transform: rotate(-135deg);
	position:absolute;
	right:25%;
	top:20%;
	
} 
.secondpart{
    height:20px;
    width:40px;
    border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    background:orange;
	
	position:absolute;
	bottom:-20px;
	left:-10px;
	z-index:100;
	-webkit-animation:shake 2s linear infinite;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	
} 

.mouth {
	border-bottom: 30px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 100px;
	position:absolute;
	right:20%;
	top:70%;

}

.ears{
  width:200px;
  height:150px;
  position:absolute;
  left:0px;
  top:-50px;
  z-index:-100;
}

.ear1 {
	width: 50px;
	height: 50px;
		background: lightblue;
		border: 5px solid orange;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position:absolute;
		right:-25px;
		top:27%;
		z-index:-100;	

}

.ear2 {
	width: 50px;
	height: 50px;
		background: lightblue;
		border: 5px solid orange;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position:absolute;
		left:-35px;
		top:27%;
		z-index:-100;

}

.teeth {
	width: 20px;
	height: 20px;
		background: white;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		position:absolute;
		left:10px;
		top:-10px;
	
	}
	.teeth1 {
		width: 20px;
		height: 20px;
			background: white;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			position:absolute;
			left:40px;
			top:-10px;
	
		}
		
		.teeth2 {
			width: 20px;
			height: 20px;
				background: white;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				position:absolute;
				left:70px;
				top:-10px;
	
			}	
			
.body{
	position: relative;
}

.body1{
    width:300px;
    height:150px;
    border-radius:30px;
    background-color:orange;
    position:absolute;
    left:450px;
    top:225px;
	z-index:-2;
}	
.body2{
    width:300px;
    height:150px;
    border-radius:15px;
    background-color:lightblue;
    position:absolute;
    left:450px;
    top:250px;
	z-index:-3;
}	

.body3{
    width:200px;
    height:150px;
    border-radius:40px;
    background-color:black;
    position:absolute;
    left:500px;
    top:290px;
	z-index:-4;
}	

.arm{
  width:80px;
  height:80px;
  background-color:black;
  position:absolute;
  left:725px;
  top:275px;
  transform-origin:0 50%;
  border-radius:40px;
  z-index:-100;
  
}

.fore{
  width:100px;
  height:20px;
  background-color:white;
  position:absolute;
  left:70px;
  top:40px;
  transform-origin:0 50%;
  transform:rotate(0deg);
  border-radius:10px;
  
}

.hand{
   width:50px;
  height:20px;
  background-color:white;
  position:absolute;
  left:90px;
  top:0px;
  transform-origin:0 50%;
  transform:rotate(0deg);
  border-radius:10px;
}

.arm2{
  width:80px;
  height:80px;
  background-color:black;
  position:absolute;
  left:400px;
  top:275px;
  transform-origin:100% 50%;
  border-radius:40px;
  z-index:-70;
  
}

.fore2{
  width:100px;
  height:20px;
  background-color:white;
  position:absolute;
  right:70px;
  top:40px;
  transform-origin:100% 50%;
  transform:rotate(0deg);
  border-radius:10px;
  z-index:-99;
  
}

.hand2{
   width:50px;
  height:20px;
  background-color:white;
  position:absolute;
  right:90px;
  top:0px;
  transform-origin:100% 50%;
  transform:rotate(0deg);
  border-radius:10px;
}

.arm2:hover{
  transform:rotate(40deg);
}

.arm2:hover .fore2{
  transform:rotate(-70deg);
}

.arm2:hover .hand2{
  transform:rotate(-50deg);
}
.arm:hover{
  transform:rotate(40deg);
}

.arm:hover .fore{
  transform:rotate(-70deg);
}

.arm:hover .hand{
  transform:rotate(-50deg);
}

.leg{
  width:40px;
  height:40px;
  background-color:lightblue;
  position:absolute;
  left:475px;
  top:410px;
  transform-origin:100% 50%;
  border-radius:20px;
  z-index:2;
  border: 5px solid orange;
  
}

.femur{
  width:120px;
  height:20px;
  background-color:white;
  position:absolute;
  right:30px;
  top:20px;
  transform-origin:100% 50%;
  transform:rotate(0deg);
  border-radius:10px;
  z-index:-99;
  
}

.shin{
   width:100px;
  height:20px;
  background-color:white;
  position:absolute;
  right:115px;
  top:0px;
  transform-origin:100% 50%;
  transform:rotate(-90deg);
  border-radius:10px;
}

.leg2{
  width:40px;
  height:40px;
  background-color:lightblue;
  position:absolute;
  left:670px;
  top:410px;
  transform-origin:0 50%;
  border-radius:20px;
  z-index:2;
  border: 5px solid orange;
  
}

.femur2{
  width:120px;
  height:20px;
  background-color:white;
  position:absolute;
  left:30px;
  top:20px;
  transform-origin:0 50%;
  transform:rotate(0deg);
  border-radius:10px;
  z-index:-99;
  
}

.shin2{
   width:100px;
  height:20px;
  background-color:white;
  position:absolute;
  left:115px;
  top:0px;
  transform-origin:0 50%;
  transform:rotate(90deg);
  border-radius:10px;
}

.ear1:hover{
transform:scale(0.5,2);}

.ear2:hover{
transform:scale(0.5,2);}

h1{
	text-align:center;
	font-family:helvetica;
	font-size:3em;
	margin-top:20px;
	color:white;
}

.leg2:hover .shin2
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  

.leg:hover .shin
{
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
}  

iframe{
	position:fixed;
	bottom:0px;
	right:0px;
}

.face:hover .teeth {
transform:scale(0.75,4);}

.face:hover .teeth1 {
transform:scale(0.75,4);}

.face:hover .teeth2 {
transform:scale(0.75,4);}



